.forecast-day {
  width: calc(70% - 20px);
}

.forecast-icon {
  width: 40px;
}

.forecast-temp {
  width: calc(30% - 20px);
  text-align: right;
}

.forecast-hourly::-webkit-scrollbar {
  display: none;
}
