@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Jost", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(29, 113, 242);
  background: linear-gradient(
    90deg,
    rgba(29, 113, 242, 1) 0%,
    rgba(28, 156, 246, 1) 50%,
    rgba(25, 195, 251, 1) 100%
  ); */
  color: #ffffff;
  overflow-x: hidden;
}

body.isDay {
  background: linear-gradient(
    90deg,
    rgba(29, 113, 242, 1) 0%,
    rgba(28, 156, 246, 1) 50%,
    rgba(25, 195, 251, 1) 100%
  );
}

body.isNight {
  background: linear-gradient(
    90deg,
    #191970 0%,
    #1f1d68 25%,
    #252160 50%,
    #2b2758 75%,
    #2e294e 100%
  );
}

.bg-overlay {
  min-height: 100vh;
  width: 100vw;
  background-image: url(./skyscraper-bg.png);
  background-position: center bottom;
  background-size: contain;
  background-repeat: repeat-x;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::placeholder {
  color: #ffffff;
  opacity: 0.8;
}
