@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Jost", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(29, 113, 242);
  background: linear-gradient(
    90deg,
    rgba(29, 113, 242, 1) 0%,
    rgba(28, 156, 246, 1) 50%,
    rgba(25, 195, 251, 1) 100%
  );
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::placeholder {
  color: #ffffff;
  opacity: 0.8;
}
